.button{
    background-color: white;
    border: none ;
    width: 85px;
    height: 50px;
    font-weight: 600;
    font-size: large;
    margin: 3px;
}

.grayButton{
    background-color: rgba(221, 220, 220, 0.284);
    border: none ;
    width: 85px;
    height: 50px;
    font-weight: 600;
    font-size: large;
    margin: 3px;
}

.grayButton:hover{
    background-color: rgba(184, 183, 183, 0.393);
    border: 1.3px solid rgba(102, 101, 101, 0.838);
}

.button:hover{
    background-color: rgba(184, 183, 183, 0.392);
    border: 1.3px solid rgba(102, 101, 101, 0.838);
}

.blueButton{
    background-color: rgba(79, 182, 225, 0.903);
    border: none ;
    width: 85px;
    height: 50px;
    font-weight: 600;
    font-size: large;
    margin: 3px;
}

.blueButton:hover{
    background-color: rgba(36, 176, 237, 0.903);
    border: 1.3px solid rgb(3, 179, 255);
}


